.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 5;
}

.menu__container {
  background-color: #202020;
  position: relative;
  display: none;
  max-width: 520px;
  width: 100%;
}

.menu__close-button {
  background-color: transparent;
  background-image: url("../../images/close-button-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.menu__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 810px) {
  .menu_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .menu__container {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .menu__close-button {
    top: 13px;
    right: 13px;
  }
}