.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation__element {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.movies-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
  list-style: none;
  padding: 0;
}

.movies-navigation__element {
  margin: 0;
  padding: 0;
}

.movies-navigation__element:first-of-type {
  margin: 0;
}

.movies-navigation__element_place_menu {
  display: none;
}

.movies-navigation__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.movies-navigation__link:hover {
  opacity: 0.7;
}

.movies-navigation__link_active {
  font-weight: 500;
}

.movies-navigation__link_active:hover {
  font-weight: 500;
  opacity: 1;
  cursor: default;
}

.navigation__profile-button {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;  
  border-radius: 50px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navigation__profile-button:hover {
  opacity: 0.8;
}

.navigation__profile-button_active:hover {
  opacity: 1;
  cursor: default;
}

.navigation__profile-icon {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #313131;
  background-image: url(../../images/profile_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.header__hamburger-button {
  display: none;
}

.header__navigation {
  display: flex;
  width: 100%;
}


@media screen and (max-width: 810px) {
  .navigation {
    margin: 0
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 100%; */
    min-width: 320px;
    margin: 159px auto 90px;
  }

  .movies-navigation {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .movies-navigation__element {
    margin-top: 28px;
  }

  .movies-navigation__element:first-of-type {
    margin: 0;
  }

  .movies-navigation__element_place_menu {
    display: block;
  }

  .movies-navigation__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .movies-navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
  }

  .header__hamburger-button {
    display: block;
    background-color: transparent;
    background-image: url("../../images/hamburger-menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 44px;
    height: 44px;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .header__hamburger-button:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 420px) {
  .movies-navigation__element {
    margin-top: 24px;
  }

  .header__hamburger-button {
    width: 40px;
    height: 43px;
    background-size: 90%;
  }
}

@media screen and (max-width: 810px) {
  .header__navigation {
    display: none;
  }
}

/*berger-menu*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 5;
}

.menu__container {
  background-color: #202020;
  position: relative;
  display: none;
  max-width: 520px;
  width: 100%;
}

.menu__close-button {
  background-color: transparent;
  background-image: url("../../images/close-button-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.menu__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 810px) {
  .menu_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .menu__container {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .menu__close-button {
    top: 13px;
    right: 13px;
  }
}

/*header*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 74px;
  margin: 0 auto;
  width: 100%;
}

.header__logo-link {
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
  margin-right: 44px;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo-link_active:hover {
  opacity: 1;
  cursor: default;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
}

.header__auth-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__auth-element {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__auth-element:first-of-type {
  margin-right: 30px;
}

.header__sing-up-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.header__sing-up-link:hover {
  opacity: 0.7;
}

.header__sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  background-color: #3ddc84;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.header__navigation {
  display: flex;
  width: 100%;
}

.header__hamburger-button {
  display: none;
}

.header__sign-in-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .header {
    margin: 0 30px;
    width: auto;
  }
}

@media screen and (max-width: 810px) {
  .header__navigation {
    display: none;
  }

  .header__hamburger-button {
    display: block;
    background-color: transparent;
    background-image: url("../../images/hamburger-menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 44px;
    height: 44px;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .header__hamburger-button:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 360px;
    margin: 0 auto;
  }

  .header__auth-element:first-of-type {
    margin-right: 14px;
  }

  .header__sing-up-link {
    font-size: 10px;
  }

  .header__sign-in-button {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }

  .header__hamburger-button {
    width: 40px;
    height: 43px;
    background-size: 90%;
  }
}

@media screen and (max-width: 388px) {
  .header {
    width: auto;
    margin: 0 14px;
  }
}